pysimplegui
pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu116
torch
git+https://github.com/openai/whisper.git
requests
pyaudio
https://github.com/cyberkitsune/speech_recognition/archive/refs/heads/vrcsubs-edits.zip
python-osc
pyyaml
googletrans==4.0.0rc1
deepl
vosk
ctranslate2
faster-whisper